<div class="row">
  <%= render partial: 'shared/errors', object: @employee.errors %>
  <div class="col-sm-6">
    <header>
      <h1>Add New Employee </h1>
    </header>
    <%= render partial: 'form' %>
  </div>
</div>