<div class="row">
  <%= render partial: 'shared/errors', object: @department.errors %>
  <div class="col-sm-6">
    <header>
      <h1>Edit <%= @department.department_name %> Department </h1>
    </header>
    <%= render partial: 'form' %>
  </div>
</div>