<h1 class="page-header">Company Home</h1>
<div class="table-responsive">
  <table class="table table-striped" role="grid">
    <thead>
      <tr>
        <th>Company</th>
        <th>Departments</th>
      </tr>
    </thead>
    <tbody>
      <% @companys.each do |company| %>
        <tr>
          <td><%= link_to company.company_name, company %></td>
          <td><%= link_to "#{company.company_name} Departments", company_departments_path(company) %></td>
          <td>
            <%= link_to 'edit', edit_company_path(company) %>&nbsp;
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


