<div class="page-header">
  <h1>
    <%= @company.compname %>
  </h1>
  <tbody>
    <tr>
        <%= link_to "#{@company.compname} Departments", company_departments_path(@company) %>
    </tr>
  </tbody>
</div>