<div class="page-header">
  <h1>
    <%= @company.company_name %>
  </h1>
  <div>
    <tbody>
      <tr>
          <%= image_tag(@company.company_avatar.url) %>
      </tr>
    </tbody>
  </div>
  <div>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </div>
  <div>
    <tbody>
      <tr>
          <%= link_to "#{@company.company_name} Departments", company_departments_path(@company), class: 'btn btn-primary' %>
      </tr>
    </tbody>
  </div>
</div>